<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="classpath:/spring/mybatis-context.xml" />
    <!--<import resource="classpath:/spring/quartz-context.xml" />-->

	<!-- Component base -->
	<context:component-scan base-package="com.apollo.shuttershare"/>

    <!-- Properties files Multiple files should be delimited by commas.-->
    <context:property-placeholder location="classpath:/file.properties, classpath:/profileinfo.properties" />
</beans>
